@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Solway&display=swap');

body {
    background-color: tan;
    font-family: 'Solway', serif;
}

h1, h2 {
    color: black;
}p {
    color: black;
}

#my-avatar {
    width:  150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}

#my-name {
    font-family: 'Berkshire Swash', cursive;
}