@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Solway&display=swap');

/* CCS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5D9B6 ;
    font-family: 'Solway', serif;
    color: #285430;
}

#my-avatar {
    width:  150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}

#my-name {
    font-family: 'Berkshire Swash', cursive;
    color: #5F8D4E; 
}